
        
            <div class="row clearfix">
                <div class="col-sm-5">
                    <div class="h_serach">
                        <form>
                            <input type="submit" value="">
                            <input type="text" placeholder="Search  TalentedHuman">
                        </form>
                    </div>
                </div>
                <div class="col-sm-2"><img src="assets/images/th.png"></div>
                <div class="col-sm-5 h_links">
                        <span class="profile link"></span>
                        <span class="messaging link"></span>
                        <span class="notification link"></span>
                        <span class="setting link"></span>
                        <span class="logout link"></span>
                </div>
            </div>
        
