


<link rel="stylesheet" type="text/css" href="assets/css/index.css">

<header id="header" style="position: static;">
    <div class="text-center"> <a href="#" id="logo" style="float: none;"><img src="assets/images/logo.png" alt="talentedhumans"></a></div>
    <div class="clearfix">
        <nav id="menu">

            <ul>

                <li class="last" style="position: static;">
                    <div id="forgotpassword" style="display: block; left: 50%; margin-left: -240px;top: 50%;
    margin-top: -130px; " class="login-signup ng-scope" ng-controller="Forgotpassword">
                        <div ng-hide="vfemail">
                            <h1 style="color: #fff; font-size: 25px; font-family: 'Roboto', sans-serif; text-align: center; margin-top: 14px;">Email is Verified</h1>
                        </div>

                    </div>
                </li>
            </ul>
        </nav>

    </div>
</header>


